@charset "utf-8";
@import "compass/reset";

@import "h5bp";
@include h5bp-display;
@include h5bp-selection;
@include h5bp-chromeframe;
@include h5bp-media;
@include h5bp-base;
@include h5bp-typography;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-embeds;
@include h5bp-tables;
//@include h5bp-links;
//@include h5bp-lists;
@include h5bp-helpers;


@import "compass/css3";
@import "compass/utilities";

@import 'sprites/icons/*.png';
@import 'sprites/arrows/*.png';

//border-box-sizing for all elems
*{@include box-sizing(border-box);}
input[type=search]{@include box-sizing(border-box);}

/*VARIABLES
--------------------------------------------*/
//set liks color here
$linkDefaultColor:#00539c;
$linkHoverColor:#b53228;
$linkActiveColor:#b53228;
$linkVisitedColor:#810081;
$linkFocusedColor:#b53228;
//base font params--------------------
$baseFontFamily: Verdana, Geneva, sans-serif;
$baseFontSize:13px;
$baseLineHeight: 1.4;
//colors
$baseFontColor: #000;
$h1Color: #d00010;
$servColor:#5a595e;
$bgColor:#e3e0cc;
$bgWidgetColor:#e2deca;

//layout params-----------------------
$baseMinWidth: 960px;
$baseMaxWidth: 1280px;
$hdrHeight:150px;
$ftrHeight:145px;

//columns padding
$columnLtPadding-l:70px;
$mainColPadding-l:60px;
/*MEDIA mixins
---------------------------------------------------------*/
@mixin respond-to($media) {
  @if $media == old-monitors {
    @media only screen and (max-width: 1025px) { @content; }
  }
  @else if $media == not-old-monitors{
    @media only screen and (min-width: 1026px) { @content; }
  }
}

/*HELPER CLASSES
---------------------------------------------------------*/
@mixin layout{
  .l-baseWrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    min-width: $baseMinWidth;
    max-width: $baseMaxWidth;
    padding:0 20px;
    @include respond-to(not-old-monitors){padding:0 40px;}
  }
  .l-contentWrap{padding-bottom: $ftrHeight*2 !important;}
  .l-baseFooter{
    position: relative;
    height: $ftrHeight;
    margin: -$ftrHeight auto 0;
    min-width: $baseMinWidth;
    max-width: $baseMaxWidth;
    padding-right: 25px;
    @include respond-to(not-old-monitors){padding-right: 45px;}
  }
}
//headers styles
@mixin h1{color:$h1Color;font-size: 2.308em;}
@mixin h2{font-size: 1.692em;margin:5px 0;}
@mixin h2Left{@include h2;position: relative;left:-35px;}
@mixin h3{font-weight: bold;}
@mixin ul{
  margin-bottom: 15px;
  li{
    position: relative;
    padding-left: 17px;
    &:before{
      content: '✔';
      position: absolute;
      left:0;
    }
  }
}
@mixin dl{
  margin:10px 0;
  dt{float: left;font-weight: bold;margin-right: 5px;}
  dd{overflow: hidden;}
}
//content editing zone styles
@mixin contentEditable{
  h1{@include h1;}
  h2{@include h2Left;}
  h3{@include h3;}
  p{margin-bottom: 15px;}
  ul{@include ul;}
  dl{@include dl;}
  em{font-style: italic;}
  ol{list-style-type: decimal;}
}
.contentEditable{@include contentEditable;}
//floats
.m-float-l{float: left;}
.m-float-r{float: right;}
//pseudo elems mixin
@mixin pseudoBlockAbs{
  content: '';
  display: block;
  position: absolute;
}
//vertical centering mixin
@mixin vCtr{
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}
//for horisontal layouts
@mixin hList{
  .flexbox &{@include display-box;}
  .no-flexbox & > *{
    @include inline-block;
    vertical-align: top;
  }
}
@mixin jList{
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom:1;
  text-align-last: justify;
  &:after{
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }
  >*{
    text-align: left;
    @include inline-block;
    vertical-align: top;
    line-height: $baseLineHeight;font-size: $baseFontSize;
  }
}
@mixin jList-singleLine{
  .flexbox &{@include display-box; @include box-pack(justify);}
  .no-flexbox &{@include jList;}
}
//img wrapper
@mixin imgWrap{
  img{width:100%;height: 100%;}
}
//hack for ie9 - need for gradient backgrounds
:root .gradient {filter: none \0/IE9; }
@mixin ie9-gradient-support{
  $experimental-support-for-svg: true;
  @extend .gradient;
}

@mixin visible_inbisible{
  display: none;
  opacity: 0;
  &.m-active{display: block;opacity: 1;}
}
/*OBJECTS mixins
--------------------------------------------*/
@mixin link-only-servColor{@include link-colors($servColor, $servColor, $servColor, $servColor, $servColor);}
@mixin link-only-baseColor{@include link-colors($baseFontColor, $baseFontColor, $baseFontColor, $baseFontColor, $baseFontColor);}
@mixin link-noVisited{@include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkDefaultColor, $linkFocusedColor);}
@mixin link-service{
  text-decoration: none;
  border-bottom: 1px dashed $linkDefaultColor;
  @include link-noVisited;
  &:hover, &:focus{border-bottom-color: $linkHoverColor;}
}
@mixin shadow{box-shadow: 0 0 10px #adaca8;}
@mixin vidget{
  @include shadow;
  @include border-radius;
  background: #e3dfcc url(../images/bg-vidget.png);
}
@mixin button{
  text-decoration: none;
  padding:5px 15px;
  @include border-radius;
  background-color: rgb(229,229,229);
  @include link-only-baseColor;
  @include filter-gradient(#e5e5e5, #acacac, vertical);
  @include ie9-gradient-support;
  @include background-image(linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(252,252,252,1) 3%,rgba(245,245,245,1) 7%,rgba(244,244,244,1) 24%,rgba(228,228,228,1) 79%,rgba(227,227,227,1) 90%,rgba(220,220,220,1) 97%,rgba(172,172,172,1) 100%));
}

/*LAYOUT
----------------------------------------------------------*/
html, button, input, select, textarea {
  height: 100%;
  font-family: $baseFontFamily;
  color: $baseFontColor;
}
body {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  @include layout;
  background: #fff url(../images/bg-body.jpg);
  position: relative;
  &:before{
    @include pseudoBlockAbs;
    width:100%;
    height: 220px;
    @include ie9-gradient-support;
    @include background-image(linear-gradient(top,  rgba(231,227,207,0.7) 0%,rgba(231,227,207,0) 100%));
    z-index: -1;
  }
  &.m-vidget_bg{background: #e3dfcc url(../images/bg-vidget.png);}
}

a {
  @include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusedColor);
  @include single-transition(all,.4s,ease,0s);
}
input,textarea{
  padding:0 5px;
  @include border-radius;
  background-color: #fff;
  border:1px solid #c0c0c0;
  box-shadow: inset 0 0 7px #c0c0c0;
}

.l-baseWrap {
}
/* page header
----------------------------------*/
.l-baseHeader {
  clear: both;
  height: $hdrHeight;
  @include pie-clearfix;
  padding:0 10px;
}
//main logotype
.mainLogo{height: $hdrHeight;float: left;padding:0 10px 0 0;margin-left: 0px;}
.mainLogo__link{@include vCtr;}
/*l-baseHeader__rtBlock*/
.l-baseHeader__rtBlock{float:right;}
.servNav{margin:15px 0;}
.servNav__list{
  @include hList;
  .flexbox &{@include box-align(center);}
}
.servNav__link{
  line-height: 1.1;
  display: block;
  margin-left: 30px;
  font-size: 0.769em;
  &.item-1{@include icons-sprite(servNav__item-1);width:13px; height: 11px;}
  &.item-2{@include icons-sprite(servNav__item-2);width:11px; height: 8px;margin-top: 2px;}
  &.item-3{@include icons-sprite(servNav__item-3);width:11px; height: 10px; margin-top: 1px;}
}
//main navigation
.mainNav{overflow: hidden;@include vCtr; height: $hdrHeight;padding:0 20px;}
.mainNav__list{@include hList;}
.mainNav__link{
  display: block;
  margin-left: 30px;
  @include link-noVisited;
  &.m-active{@include link-only-servColor;}
}
/*headerContacts*/
.headerContacts{}
.headerContacts__phone{
  @include visible_inbisible;
  text-align: right;
  margin-right: 34px;
  font-size: 1.846em;
  sup{
    font-size: 0.458em;
    line-height: 1;
    position: relative;
    top: -14px;
  }
}
.headerContacts__contactsLink{
  display: block;
  float: right;
  font-size: 0.846em;
}
.headerContacts__mailUsLink{
  font-size: 0.846em;
  clear: both;
  display: block;
  float: right;
  margin-right: 65px;
  @include link-service;
}
/* page content
------------------------------------*/
.l-contentWrap {
  @include pie-clearfix;
}
//left column-------------->

.l-columnLt{
  float: left;width:180px;padding-left: $mainColPadding-l;
  &.m-paddingLt_0{padding-left:0;}
}

.siteMapLink{
  @include link-service;
  float: left;
  display: block;
}
/*simple nav*/
.sidebar-simpleNav{margin: 60px 0 40px 0;}
.sidebar-simpleNav__link{
  display: block;
  margin: 10px 0;
  font-size: 1.154em;
  line-height: 1.2;
  &.m-active{@include link-only-servColor;}
}
/*expanded nav*/
.expandedNav{margin-top: 55px;}
.expandedNav__mainList{}
.expandendNav__mainList__item{
  >a{
    display: block;
    padding:3px 0;
    font-size: 1.154em;
    position: relative;
    &:hover{margin-left: 10px;}
  }
  &.m-active>a{
    @include link-only-servColor;
    &:hover{margin-left: 0;}
    &:before{
      @include pseudoBlockAbs;
      width:7px; height: 7px;
      background: url(../images/bullet.png);
      left:-11px;
      top:11px;
    }
  }
}
.expandedNav__subList{margin:0 0 10px 10px;}
.expandedNav__subList__item{
  >a{
    display: block;padding: 1px 0;position: relative;
    &:hover{margin-left: -10px;}
  }
  &.m-active>a{
    @include link-only-servColor;
    &:hover{margin-left: 0;}
    &:before{
      @include pseudoBlockAbs;
      width:7px; height: 7px;
      background: url(../images/bullet.png);
      left:-11px;
      top:7px;
    }
  }
}
/*sidebar-downloadCatalog*/
.sidebar-downloadCatalog{margin:30px 0;}
.sidebar-downloadCatalog__item{
  display: block;
  position: relative;
  line-height: 1;
  height: 24px;
  margin:15px 0;
  padding-left: 25px;
  @for $i from 1 through 3{
    &.item-#{$i}{
      background: url(../images/catalog__covers/small-#{$i}.jpg) no-repeat 0 50%;
    }
  }
  span{@include vCtr;}
}

/*sertificats*/
.sertificats{
  margin-left: -5px;
  margin-top: 195px;
}
.sertificats__item{
  text-align: center;
  img{@include shadow;}
}
.sertificats__item__title{
  font-size:0.846em;
  a{font-size:0.846em;}
}
//right column-------------->
.l-columnRt{float: right;width:240px;}

//main column-------------->

.l-columnMain{
  overflow: hidden;
  padding:0 10px;
}
/*breadcrumbs*/
.breadcrumbs{
  margin-top: 6px;
  li{
    padding:0 !important;
    &:before{display: none;}
  }
}
.breadcrumbs__list{@include hList;margin:0 !important;}
.breadcrumbs__link{
  @include link-only-servColor;
  display: block;
  position: relative;
  margin-right: 5px;
  font-size: 0.692em;
  padding-right: 12px;
  &:hover{text-decoration: none;}
  &:before{
    content: '/';
    position: absolute;
    right:0;
    li:last-child &{display: none;}
  }
}
.pageHeader{@include h1;}
.pageContent{@include contentEditable;}

/* Footer
------------------------------------*/
$ftrTopPadding:60px;
.l-baseFooter {
  position: relative;
  @include pie-clearfix;
}
.m-footer__justifyList{
  @include jList-singleLine;
}
.randomProduct{
  float: left;
  width:290px;
  height: $ftrHeight;
  position: relative;
  figcaption{position: relative;white-space: nowrap;}
  img{
    position: absolute;
    left: 0; bottom:0;
  }
  &.item-1 figcaption{left:32px;}
  &.item-2 figcaption{left:-64px;}
  &.item-3 figcaption{left: -64px;}
  &.item-4 figcaption{left:-40px;}
  &.item-5 figcaption{left:78px;top:-20px;}
  &.item-6 figcaption{left:60px;top:-8px;}
  &.item-7 figcaption{left:13px;}
  &.item-8 figcaption{left:-80px;}
}
.randomProduct__link{
  position: absolute;
  right:0;top:0;
}
/*copyrights*/
.copy{
  margin-top: $ftrTopPadding;
  display: block;
  font-size: 0.846em;
  color:$servColor;
}
/*ftrContacts*/
.ftrContacts{
  font-size: 0.846em;
  margin-top: $ftrTopPadding;
  position: relative;
}
.ftrContacts__title{
  padding-right: 3px;
}
.ftrContacts__trigger__wrap{
  @include inline-block;
  z-index: 1;
  position: absolute;
  vertical-align: top;
  @include single-transition(all,.5s,ease,0s);
  &:hover{
    padding:2px 5px;
    background: #fff;
    @include shadow;
    @include border-radius;
    .ftrContacts__trigger{display: block;opacity: 1;}
  }
}
.ftrContacts__trigger{
  @include link-service;
  float: left;
  clear: left;
  @include visible_inbisible;
}
.ftrContacts__info{@include visible_inbisible;}
.ftrContacts__info__phone{font-size: 1.077em;display: block;}
/*social*/
.social{margin-top: $ftrTopPadding;}
.social__title{@include link-service;font-size: 0.846em;position: relative;}
.social__title__tooltip{
  position: absolute;
  top:-190px;
  font-size: $baseFontSize;
  color:$baseFontColor;
  left:-260px;
  width:430px;
  @include vidget;
  padding:10px 20px;
  display: none;
  .social__title:hover &{display: block;}
  &:before{
    @include pseudoBlockAbs;
    background: url(../images/tooltip_corner.png);
    width:77px; height: 133px;
    top:100%;
    right:40px;
  }
}
.social__buttons{margin:5px 0;@include hList;}
.social__buttons__item{
  display: block;
  margin-right: 3px;
  width:21px; height: 24px;
  @for $i from 1 through 5{
    &.item-#{$i}{
      @include icons-sprite(soc-#{$i});
      &:hover{@include icons-sprite(soc_active-#{$i});}
    }
  }
}
/*creator*/
.creator{
  margin-top: $ftrTopPadding +25;
  display: block;
  @include icons-sprite(copy);
  width:22px; height: 22px;
  &:hover{@include icons-sprite(copy_active);}

}

/*main page specific elements styles
-----------------------------------------------------------------------------------------------*/
/*companyMission*/
.companyMission{
  @include vidget;
  width:220px;
  margin:0 auto;
  padding:10px 20px;
  line-height: 20px;
}
.companyMission__title{font-weight: bold;}
/*ABOUT page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageAbout{
  @include contentEditable;margin-left: $mainColPadding-l;
  h2{margin:15px 0;}
}
.pageAbout__title{@include h1;}

/*CONTACTS page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageContacts{margin-left: $mainColPadding-l;}
.pageContacts__title{@include h1;line-height: 1.2;}
.officeInfo{@include jList-singleLine;@include pie-clearfix;}
.officeInfo__title{@include h2Left;margin:0;line-height: 1.2;}
.officeInfo__name{font-weight: bold;padding-top: 7px;}
.officeInfo__phones{margin:10px 0;}
.officeInfo__fax{margin:10px 0;}
.officeInfo__mail{
  float: left;
  clear: both;
  &:hover{background: none !important;}}
.l-officeInfo__addInfo{max-width: 240px;}
.l-officeInfo__addInfo{padding-top: 20px;}
.officeInfo__workTime{font-size: 0.846em;font-style: italic;position: relative;top:4px;}
.officeInfo__map{
  text-align: center;font-size: 0.846em;
  &.m-top{position: relative;top:-25px;}
  &.m-bottom{position: relative;top:15px;}
}
.officeInfo__postInfo{display: block;margin:13px 0;}

/*NEWS page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageNews{
  @include contentEditable;
  margin-left: $mainColPadding-l;
}
.pageNews__title{@include h1;}
.pageNews__item{
  margin-bottom: 20px;
  time{color:$servColor; font-size: 0.846em;}
}
.pageNews__item__title{@include h2Left;margin-top: 0;}
.pageNews__viewOldNews{@include link-service;}
.pageNews__yearSorter{
  margin:58px 50px;
  .m-active{@include link-only-servColor;}
}

/*VACANCIES page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageVacancies{margin-left: $mainColPadding-l;}
.pageVacancies__title{@include h1;}
.pageVacancies__item{
  label{
    @include h2Left;
    span{
      @include link-service;
      @include single-transition(all,.4s,ease,0s);
    }
  }
  &.m-inKiev label:after{
    content: 'в Киеве';
    font-size: $baseFontSize;
    position: relative;
    top:-12px;
    left:2px;
  }
  &.m-inDonetsk label:after{
    content: 'в Донецке';
    font-size: $baseFontSize;
    position: relative;
    top:-12px;
    left:2px;
  }
  input{display: none;}
}
.pageVacancies__item__content{
  @include contentEditable;
  overflow: hidden;
  height: 0px;
  input:checked ~ &{height: auto;}
  margin:10px 0;
}
.pageVacancies__lastItem{margin:20px 0;}
.pageVacancies__lastItem__link{@include link-service;}

.pageVacancies__managerContacts{
  padding:0 50px 0 10px;
  margin-top: 102px;
  font-size: 0.846em;
  font-style: italic;
}
/*DELIVERY page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageDelivery{
  float: right;
  /* when opera will be supports calc -> comment media and uncomment calc */
  @include respond-to(old-monitors){width:702px;}
  @include respond-to(not-old-monitors){width:950px;}
/*  width: -webkit-calc(100% - 250px);*/
/*  width: -moz-calc(100% - 250px);*/
/*  width: calc(100% - 250px);*/
  margin-left:20px;
  @include contentEditable;
}
.pageDelivery__title{@include h1;}
.pageDelivery__managersInfo{
  width:100%;margin:15px 0;
  position: relative;
}
.pageDelivery__company{
  @include pie-clearfix;
  img{padding-left: 30px;}
  &.item-2{img{padding-right: 40px;}}
  &.item-4{img{padding-right: 40px;padding-top: 5px;}}
}
/*CATEGORY page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageCategory{
  .breadcrumbs{margin-left: $mainColPadding-l;}
}
.pageCategory__title{@include h1;margin-left: $mainColPadding-l;}
.pageCategory__itemWrap{}
.pageCategory__item{
  @include inline-block;
  vertical-align: top;
  width:30%;
  margin-bottom: 30px;
  text-align: center;
  span{
    display: block;text-align: center;
  }
}
/*SUB CATEGORY page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageCategorySub{
  .breadcrumbs{margin-left: $mainColPadding-l;}
}
.pageCategorySub__title{@include h1;margin-left: $mainColPadding-l;}
.pageCategorySub__nav{
  margin:10px 0 10px $mainColPadding-l;
  ul{@include hList;}
  a{
    display: block;
    margin:0 9px 0 0;
    padding: 2px 3px;
    font-size: 0.846em;
    @include link-service;
    &.current{
      background: $bgWidgetColor;
      color:#222;
      border-bottom: none;
    }
  }
}
.pageCategorySub__tabs__item{display: none;}
.pageCategorySub__item{
  @include inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
  span{
    display: block;text-align: center;
  }
}
/*PRODUCT page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageProduct{
  margin-left: 10px;
  position: relative;
  @include contentEditable;
  h2{position: static;}
}
.pageProduct__cartVidget{
  @include vidget;
  position: absolute;
  right:0;top:0;
  padding:10px 20px;
}
.pageProduct__cartVidget__link{
  @include link-service;
}
.pageProduct__title{@include h1;}
.pageProduct__purchase{@include pie-clearfix;}
.pageProduct__purchase__productInfo{
  float: left;
  caption{@include h2;}
  width:85%;
  td{
    text-align: center;
    border-top: 1px solid $bgWidgetColor;
    vertical-align: middle;
    height: 30px;
    &:first-child{text-align: left;padding-left: 10px;}
    &:last-child{text-align: right;padding-right: 5px;}
  }
  .m-active td{background: #ebe8da;}
  th{
    @extend td;
    border-top: none;
    font-weight: bold;
    text-transform: uppercase;
    &:last-child{text-align: right;padding-right: 15px;}

  }
  input{
    width: 43px;
    height: 19px;
    text-align: right;
    &:focus{outline: none;}
  }
}
.pageProduct__purchase__addInfo{
  margin: 68px 0 0 20px;
  float: left;
  width:115px;
  font-size: 0.692em;
  font-style: italic;
}
.pageProduct__purchase__addLink{
  display: block;
  float: left;
  margin:10px 0;
  clear: both;
  @include button;
}
.pageProduct__draft{margin:30px 0;}
.pageProduct__photo{
  margin-top: 20px;
  float: right;
  width:300px; height: 300px;
  .bjqs-markers{list-style: none;}
  .bjqs-markers li{margin:0 3px;}
  .bjqs-markers a{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #9b9a9e;
    text-indent: -9999px;
  }
  .bjqs-markers .active-marker a{background: #5a595e;}
}
/*PRODUCTION page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageProduction{
  position: relative;
  .breadcrumbs{margin-left: 250px;}
}
.l-pageProduction__leftColumn{
  position: absolute;
  top:-7px;
  padding-left: 55px;
  width:230px;
}

.pageProduction__title{@include h1;margin-left: 250px;}
.pageProduction__hexagon{text-align: center;margin-top: 30px;}
.pageProduction__hexagon__item{
  @include inline-block;
  vertical-align: top;
  position: relative;
  span{
    font-size: 1.385em;
    display: none;
    opacity: 0;
    position: absolute;
    text-align: left;
    top:100%;
    color:$linkDefaultColor !important;
    text-decoration: underline;
    left:50%;
    white-space: nowrap;
  }
  &:nth-child(1){
    z-index:6; margin-top: 205px;
    span{left:-50%;}
  }
  &:nth-child(2){
    z-index: 5;margin-top: 180px;margin-left:-15px;
    &:before{
      @include pseudoBlockAbs;
      background: url(../images/pageProduction/shadow-2.png);
      height: 29px;
      width: 145px;
      bottom:-50px;
      left:50%; margin-left: -73px;
    }
  }
  &:nth-child(3){
    z-index: 4;margin-top: 50px;margin-left:-47px;
    &:before{
      @include pseudoBlockAbs;
      background: url(../images/pageProduction/shadow-3.png);
      height: 29px;
      width: 229px;
      bottom:-85px;
      left:50%; margin-left: -114px;
    }
  }
  &:nth-child(4){
    z-index: 1;margin-top: 40px;margin-left:-50px;
    &:before{
      @include pseudoBlockAbs;
      background: url(../images/pageProduction/shadow-4.png);
      width:383px;
      height: 29px;
      top:100%;
      left:50%;margin-left: -191px;
    }
    span{top:auto;bottom:100%;}
  }
  &:nth-child(5){
    z-index: 2;margin-top: 15px;margin-left: -40px;
    &:before{
      @include pseudoBlockAbs;
      background: url(../images/pageProduction/shadow-5.png);
      height: 29px;
      width: 145px;
      bottom:-217px;
      left:50%; margin-left: -73px;
    }
  }
  &:nth-child(6){
    z-index: 3;margin-left: -22px;
    span{top:auto;bottom:100%;}
  }
  &:hover{
    z-index: 10;
    span{display: block;opacity: 1;}
  }
}

.pageProduction__catalogs{margin:60px 0 30px;
  position: relative;left:-15px;}
.pageProduction__catalogs__item{
  @include inline-block;
  vertical-align: top;
  width:190px;
  margin-left: 20px;
  text-align: center;
  img{
    @include box-shadow(3px 4px 8px rgba(0,0,0,.3));
    @include single-transition(all,.4s,ease,0s);
  }
  span{display: block;margin-top: 7px; text-align: center;}
  &:hover img{box-shadow: none;}
}
/*INDEX page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageIndex{position: relative;}
.pageIndex__siteMapLink{
  font-size: $baseFontSize;
  position: absolute;
  z-index: 10;
  left:62px;top:30px;
  @include link-service;
}
.pageIndex__hexagon{margin-bottom: 30px;}
.pageIndex__about{
  padding-left: 40px;
  margin-bottom: 10px;
  float: left;
  /* when opera will be supports calc -> comment media and uncomment calc */
  @include respond-to(old-monitors){width:632px;};
  @include respond-to(not-old-monitors){width:860px;};
/*  width: calc(100% - 320px);*/
/*  width: -webkit-calc(100% - 320px);*/
/*  width: -moz-calc(100% - 320px);*/
}

.pageIndex__about__title{@include h1;}
.pageIndex__news{
  float: left;
  /* when opera will be supports calc -> comment media and uncomment calc */
  @include respond-to(old-monitors){width:632px;};
  @include respond-to(not-old-monitors){width:860px;};
/*  width: calc(100% - 320px);*/
/*  width: -webkit-calc(100% - 320px);*/
/*  width: -moz-calc(100% - 320px);*/
}
.pageIndex__news__title{@include h2;margin-left: 220px;}
.pageIndex__newProduction{width:300px;float: right;}
.pageIndex__newProduction__title{@include h2;padding-left:15px;padding-right: 15px;}
.pageIndex__newProduction__content{@include vidget;padding:20px 15px;}
  .pageIndex__newProduction__item{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    span{display: block;text-align: left;}
  }
.pageIndex__news__bnr{
  float: left;
  margin-right: 40px;
  img{@include border-radius;}
}
.pageIndex__news__item{
  time{display: block;font-size: 11px;}
  margin-bottom: 10px;
}
.pageIndex__info{clear: both; padding:25px 0;}
.pageIndex__info__text{
  padding-left: 40px;@include inline-block;
  /* when opera will be supports calc -> comment media and uncomment calc */
  @include respond-to(old-monitors){width:305px;};
  @include respond-to(not-old-monitors){width:520px;};
/*  width: calc(100% - 650px);
  width: -webkit-calc(100% - 650px);
  width: -moz-calc(100% - 650px);*/
}
.pageIndex__info__text__title{@include h2;}
.pageIndex__info__catalogs{text-align: right;@include inline-block;}
.pageIndex__info__catalogs__item{
  @include inline-block;
  vertical-align: top;
  width:190px;
  margin-left: 20px;
  text-align: center;
  img{
    @include box-shadow(3px 4px 8px rgba(0,0,0,.3));
    @include single-transition(all,.4s,ease,0s);
  }
  span{display: block;margin-top: 7px; text-align: center;}
  &:hover img{box-shadow: none;}
}
.pageIndex__slider__wrap{
  width:950px;
  @include respond-to(not-old-monitors){width:1200px;}
  margin: 0 auto;
  .bjqs-prev a{
    text-indent: -9999px;
    display: block;
    @include arrows-sprite(lt);
    width: 32px; height: 135px;
    @include single-transition(none);
    &:hover{@include arrows-sprite(lt-active);}
  }
  .bjqs-next a{
    text-indent: -9999px;
    display: block;
    @include arrows-sprite(rt);
    width: 32px; height: 135px;
    @include single-transition(none);
    &:hover{@include arrows-sprite(rt-active);}
  }
}
.pageIndex__slider{text-align: center;}
.pageIndex__slider__item{
  @extend .pageProduction__hexagon__item;
  margin-top:0;
  &:nth-child(1){
    margin-top: 90px;
    span{left:-40%;}
  }
  &:nth-child(2){
    margin-top: 100px;
    &:before{bottom:-90px;}
    span{left:-40%;}
  }
  &:nth-child(3){
    margin-top: 20px;
    &:before{bottom:-75px;}
  }
  &:nth-child(4){
    margin-top: 0;
    span{top:0;left:66%;}
  }
  &:nth-child(5){
    margin-top: 75px;
    &:before{bottom:-117px;}
  }
  &:nth-child(6){margin-top: 50px;}
}
.pageProduct__photo{}
/*plugins styles
------------------------------------------------------------------------------------------------*/
/* Basic jQuery Slider essential styles */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;li:before{display: none;}}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
/*tooltip styling
*/
.tooltip{@include vidget;padding:10px 20px;}
/*OVERLAYS styling*/
.sitemap__overlay{
  z-index:9999;
  display: none;
  @include vidget;
  padding:10px 20px;
  width:850px;
  left:50%;
  margin-left: -425px;
  background-image: url(../images/bg-vidget.png) !important;
}
.close{
  cursor: pointer;
  @include icons-sprite(close);
  width:14px; height: 14px;
  top:15px; right:15px;
  position: absolute;
}
.sitemap__overlay__link{@include link-service;}
.sitemap__overlay__location{padding:0 20px;}
.sitemap__overlay__mainList{
  >li{
    padding-top: 3px;
    padding-bottom: 10px;
    border-top: 1px solid #c6be9b;
    &:first-child{border-top: none;padding-top: 10px;padding-bottom:  15px;}
  }
}
.sitemap__overlay__subList-1{
  >li{
    margin-left: 50px;
    &>a{font-size: 0.846em;}
  }
}
.sitemap__overlay__subList-2{
  >li{
    margin-left: 20px;
    &>a{font-size: 0.692em;}
  }
}
/*contact__overlay*/
.contact__overlay{
  width:460px;
  display: none;
  z-index: 9999;
  left:50%;
  margin-left: -230px;
  padding:10px 20px 20px;
  @include vidget;
  background-image: url(../images/bg-vidget.png) !important;
  label{
    span{
      display: block;
      margin-top: 7px;
      margin-bottom: 3px;
      font-size: 0.846em;
      padding: 0 10px;
    }
  }
  input{width:265px;display: block;height: 30px;padding:0 10px;}
  textarea{height: 105px;width:100%;display: block;margin-bottom: 25px;padding:0 10px;}
  button{@include button;}
}
.contact__overlay__title{@include h2;}
//purchase overlay (on product page)
.purchase__overlay{
  display: none;
  left:50%;
  margin-left: -230px;
  width:460px;
  padding:10px 20px;
  @include vidget;
  background-image: url(../images/bg-vidget.png) !important;
  >header{@include h2;margin-bottom: 15px;}
  label{
    span{
      display: block;
      margin-top: 7px;
      margin-bottom: 3px;
      font-size: 0.846em;
      padding: 0 10px;
    }
  }
  input{width:265px;display: block;height: 30px;padding:0 10px;}
  button{
    display: inline-block;
    margin:30px 0 10px;
    clear: both;
    @include button;
  }
}
.purchase__overlay__list{
  @include ul;
  margin-top: 3px;
  padding:5px 0 10px;
  background: #e3e0cc;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  li{
    margin:5px 0;
    &:after{content: ';';}
  }
}
.purchase__overlay__list__title{font-size: 0.846em;}

/*MODIFICATORS
*/
.m-mainColumnPadding{padding-left: $mainColPadding-l}
.m-pt_50{padding-top:50px;}
.m-marginLt_60{margin-left: 60px;}
.m-width_230{width:230px;}
.m-li_inlineBlock>li{
  @include inline-block;vertical-align: top;
  margin-top:5px;
  margin-bottom:5px;
}

//debug
//* { outline: 2px dotted red; }
//* * { outline: 2px dotted green; }
//* * * { outline: 2px dotted orange; }
//* * * * { outline: 2px dotted blue; }
//* * * * * { outline: 1px solid red; }
//* * * * * * { outline: 1px solid green; }
//* * * * * * * { outline: 1px solid orange; }
//* * * * * * * * { outline: 1px solid blue; }