@charset "utf-8";
@import "compass/reset";

@import "h5bp";
@include h5bp-display;
@include h5bp-selection;
@include h5bp-chromeframe;
@include h5bp-media;
@include h5bp-base;
@include h5bp-typography;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-embeds;
@include h5bp-tables;
//@include h5bp-links;
//@include h5bp-lists;
@include h5bp-helpers;


@import "compass/layout";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import 'sprites/icons/*.png';

//border-box-sizing for all elems
*{@include box-sizing(border-box);}
input[type=search]{@include box-sizing(border-box);}

/*VARIABLES
--------------------------------------------*/
//set liks color here
$linkDefaultColor:#00539c;
$linkHoverColor:#b53228;
$linkActiveColor:#b53228;
$linkVisitedColor:#810081;
$linkFocusedColor:#b53228;
//base font params--------------------
$baseFontFamily: Verdana, Geneva, sans-serif;
$baseFontSize:13px;
$baseLineHeight: 1.4;
//colors
$baseFontColor: #000;
$h1Color: #d00010;
$servColor:#5a595e;
$bgColor:#e3e0cc;

//layout params-----------------------
$baseMinWidth: 960px;
$baseMaxWidth: 1600px;
$hdrHeight:150px;
$ftrHeight:145px;

//columns padding
$columnLtPadding-l:70px;
$mainColPadding-l:60px;
/*MEDIA mixins
---------------------------------------------------------*/
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; }
  }
}

/*HELPER CLASSES
---------------------------------------------------------*/
@mixin layout{
  .l-baseWrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    min-width: $baseMinWidth;
    max-width: $baseMaxWidth;
    //@include container;
    //@include susy-grid-background;
  }
  .l-contentWrap{padding-bottom: $ftrHeight*2 !important;}
  .l-baseFooter{
    position: relative;
    height: $ftrHeight;
    margin: -$ftrHeight auto 0;
    min-width: $baseMinWidth;
    max-width: $baseMaxWidth;
    //@include container;
    //@include susy-grid-background;
  }
}
//headers styles
@mixin h1{color:$h1Color;font-size: 2.308em;}
@mixin h2{font-size: 1.692em;margin:5px 0;}
@mixin h2Left{@include h2;position: relative;left:-35px;}
@mixin h3{font-weight: bold;}
@mixin ul{
  margin-bottom: 15px;
  li{
    position: relative;
    padding-left: 17px;
    &:before{
      content: '✔';
      position: absolute;
      left:0;
    }
  }
}
@mixin dl{
  margin:10px 0;
  dt{float: left;font-weight: bold;margin-right: 5px;}
  dd{overflow: hidden;}
}
//content editing zone styles
@mixin contentEditable{
  h1{@include h1;}
  h2{@include h2Left;}
  h3{@include h3;}
  p{margin-bottom: 15px;}
  ul{@include ul;}
  dl{@include dl;}
  em{font-style: italic;}
  ol{list-style-type: decimal;}
}
.contentEditable{@include contentEditable;}
//floats
.m-float-l{float: left;}
.m-float-r{float: right;}
//pseudo elems mixin
@mixin pseudoBlockAbs{
  content: '';
  display: block;
  position: absolute;
}
//vertical centering mixin
@mixin vCtr{
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}
//for horisontal layouts
@mixin hList{
  .flexbox &{@include display-box;}
  .no-flexbox & > *{
    @include inline-block;
    vertical-align: top;
  }
}
@mixin jList{
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom:1;
  text-align-last: justify;
  &:after{
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }
  >*{
    text-align: left;
    @include inline-block;
    vertical-align: top;
    line-height: $baseLineHeight;font-size: $baseFontSize;
  }
}
@mixin jList-singleLine{
  .flexbox &{@include display-box; @include box-pack(justify);}
  .no-flexbox &{@include jList;}
}
//img wrapper
@mixin imgWrap{
  img{width:100%;height: 100%;}
}
//hack for ie9 - need for gradient backgrounds
:root .gradient {filter: none \0/IE9; }
@mixin ie9-gradient-support{
  $experimental-support-for-svg: true;
  @extend .gradient;
}

@mixin visible_inbisible{
  display: none;
  opacity: 0;
  &.m-active{display: block;opacity: 1;}
}
/*OBJECTS mixins
--------------------------------------------*/
@mixin link-only-servColor{@include link-colors($servColor, $servColor, $servColor, $servColor, $servColor);}
@mixin link-noVisited{@include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkDefaultColor, $linkFocusedColor);}
@mixin link-service{
  text-decoration: none;
  border-bottom: 1px dashed $linkDefaultColor;
  @include link-noVisited;
  &:hover, &:focus{border-bottom-color: $linkHoverColor;}
}
@mixin shadow{box-shadow: 0 0 10px #adaca8;}
/*LAYOUT
----------------------------------------------------------*/
html, button, input, select, textarea {
  height: 100%;
  font-family: $baseFontFamily;
  color: $baseFontColor;
}
body {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  @include layout;
  background: url(../images/bg-body.jpg);
  position: relative;
  &:before{
    @include pseudoBlockAbs;
    width:100%;
    height: 220px;
    //@include filter-gradient(#b3e7e3cf, #00e7e3cf, vertical);
    @include ie9-gradient-support;
    @include background-image(linear-gradient(top,  rgba(231,227,207,0.7) 0%,rgba(231,227,207,0) 100%));
    z-index: -1;
  }
}
a {
  @include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusedColor);
  @include single-transition(all,.4s,ease,0s);
}
input[type=number]{width:40px; text-align: center;}
input[type=text],textarea{width:380px;}
input[type=text]{height: 25px;}

.l-baseWrap {
}
/* page header
----------------------------------*/
.l-baseHeader {
  clear: both;
  height: $hdrHeight;
  @include pie-clearfix;
  padding:0 10px;
}
//main logotype
.mainLogo{height: $hdrHeight;float: left;padding:0 5px;}
.mainLogo__link{@include vCtr;}
/*l-baseHeader__rtBlock*/
.l-baseHeader__rtBlock{float:right;}
.servNav{margin:15px 0;}
.servNav__list{
  @include hList;
  .flexbox &{@include box-align(center);}
}
.servNav__link{
  line-height: 1.1;
  display: block;
  margin-left: 30px;
  font-size: 0.769em;
  &.item-1{@include icons-sprite(servNav__item-1);width:13px; height: 11px;}
  &.item-2{@include icons-sprite(servNav__item-2);width:11px; height: 8px;margin-top: 2px;}
  &.item-3{@include icons-sprite(servNav__item-3);width:11px; height: 10px; margin-top: 1px;}
}
//main navigation
.mainNav{overflow: hidden;@include vCtr; height: $hdrHeight;padding:0 20px;}
.mainNav__list{@include hList;}
.mainNav__link{
  display: block;
  margin-left: 30px;
  @include link-noVisited;
  &.m-active{@include link-only-servColor;}
}
/*headerContacts*/
.headerContacts{}
.headerContacts__phone{
  @include visible_inbisible;
  text-align: right;
  margin-right: 34px;
  font-size: 1.846em;
  sup{
    font-size: 0.458em;
    line-height: 1;
    position: relative;
    top: -14px;
  }
}
.headerContacts__contactsLink{
  display: block;
  float: right;
  font-size: 0.846em;
}
.headerContacts__mailUsLink{
  font-size: 0.846em;
  clear: both;
  display: block;
  float: right;
  margin-right: 65px;
  @include link-service;
}
/* page content
------------------------------------*/
.l-contentWrap {
  @include pie-clearfix;
}
//left column-------------->

.l-columnLt{float: left;width:180px;padding-left: $mainColPadding-l;}
.siteMapLink{
  @include link-service;
  float: left;
  display: block;
}
/*simple nav*/
.sidebar-simpleNav{margin: 60px 0 40px 0;}
.sidebar-simpleNav__link{
  display: block;
  margin: 10px 0;
  font-size: 1.154em;
  line-height: 1.2;
  &.m-active{@include link-only-servColor;}
}
/*expanded nav*/
.expandedNav{margin-top: 55px;}
.expandedNav__mainList{}
.expandendNav__mainList__item{
  >a{
    display: block;
    padding:3px 0;
    font-size: 1.154em;
    position: relative;
    &:hover{margin-left: 10px;}
  }
  &.m-active>a{
    @include link-only-servColor;
    &:hover{margin-left: 0;}
    &:before{
      @include pseudoBlockAbs;
      width:7px; height: 7px;
      background: #d00010;
      @include border-radius(50%);
      left:-11px;
      top:11px;
    }
  }
}
.expandedNav__subList{margin:0 0 10px 10px;}
.expandedNav__subList__item{
  >a{
    display: block;padding: 1px 0;position: relative;
    &:hover{margin-left: -10px;}
  }
  &.m-active>a{
    @include link-only-servColor;
    &:hover{margin-left: 0;}
    &:before{
      @include pseudoBlockAbs;
      width:7px; height: 7px;
      background: #d00010;
      @include border-radius(50%);
      left:-11px;
      top:7px;
    }
  }
}
/*sidebar-downloadCatalog*/
.sidebar-downloadCatalog{margin:30px 0;}
.sidebar-downloadCatalog__item{
  display: block;
  position: relative;
  line-height: 1;
  height: 24px;
  margin:15px 0;
  padding-left: 25px;
  @for $i from 1 through 3{
    &.item-#{$i}{
      background: url(../images/catalog__covers/small-#{$i}.jpg) no-repeat 0 50%;
    }
  }
  span{@include vCtr;}
}

/*sertificats*/
.sertificats{
  margin-left: -5px;
  margin-top: 300px;
}
.sertificats__item{
  text-align: center;
  img{@include shadow;}
}
.sertificats__item__title{
  font-size:0.846em;
  a{font-size:0.846em;}
}
//right column-------------->
.l-columnRt{float: right;width:240px;}

//main column-------------->

.l-columnMain{
  overflow: hidden;
  padding:0 10px;
}
/*breadcrumbs*/
.breadcrumbs{
  li{
    padding:0 !important;
    &:before{display: none;}
  }
}
.breadcrumbs__list{@include hList;margin:0 !important;}
.breadcrumbs__link{
  @include link-only-servColor;
  display: block;
  position: relative;
  margin-right: 5px;
  padding-right: 22px;
  &:hover{text-decoration: none;}
  &:before{
    content: '➤';
    position: absolute;
    right:0;
    li:last-child &{display: none;}
  }
}
.pageHeader{@include h1;}
.pageContent{@include contentEditable;}

/* Footer
------------------------------------*/
$ftrTopPadding:60px;
.l-baseFooter {
  position: relative;
  @include jList-singleLine;
}
.randomProduct{
  width:290px;
  height: $ftrHeight;
  position: relative;
  img{
    position: absolute;
    left: 0; bottom:0;
  }
}
.randomProduct__link{
  position: absolute;
  right:0;top:0;
}
/*copyrights*/
.copy{
  margin-top: $ftrTopPadding;
  display: block;
  font-size: 0.846em;
  color:$servColor;
}
/*ftrContacts*/
.ftrContacts{
  font-size: 0.846em;
  margin-top: $ftrTopPadding;
  position: relative;
}
.ftrContacts__title{padding-right: 3px;}
.ftrContacts__trigger__wrap{
  @include inline-block;
  z-index: 1;
  position: absolute;
  vertical-align: top;
  @include single-transition(all,.5s,ease,0s);
  &:hover{
    padding:2px 5px;
    background: #fff;
    @include shadow;
    @include border-radius;
    .ftrContacts__trigger{display: block;opacity: 1;}
  }
}
.ftrContacts__trigger{
  @include link-service;
  float: left;
  clear: left;
  @include visible_inbisible;
}
.ftrContacts__info{@include visible_inbisible;}
.ftrContacts__info__phone{font-size: 1.077em;display: block;}
/*social*/
.social{margin-top: $ftrTopPadding;}
.social__title{@include link-service;}
.social__buttons{margin:5px 0;@include hList;}
.social__buttons__item{
  display: block;
  margin-right: 3px;
  width:21px; height: 24px;
  @for $i from 1 through 5{
    &.item-#{$i}{
      @include icons-sprite(soc-#{$i});
      &:hover{@include icons-sprite(soc_active-#{$i});}
    }
  }
}
/*creator*/
.creator{
  margin-top: $ftrTopPadding +25;
  display: block;
  @include icons-sprite(copy);
  width:22px; height: 22px;
  &:hover{@include icons-sprite(copy_active);}

}

/*main page specific elements styles
-----------------------------------------------------------------------------------------------*/
/*companyMission*/
.companyMission{
  width:220px;
  margin:0 auto;
  @include shadow;
  @include border-radius;
  background: #e3dfcc url(../images/bg-mission.png);
  padding:10px 20px;
  line-height: 20px;
}
.companyMission__title{font-weight: bold;}
/*ABOUT page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageAbout{@include contentEditable;margin-left: $mainColPadding-l;}
.pageAbout__title{@include h1;}

/*CONTACTS page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageContacts{margin-left: $mainColPadding-l;}
.pageContacts__title{@include h1;}
.officeInfo{@include jList-singleLine;@include pie-clearfix;}
.officeInfo__title{@include h2Left;}
.officeInfo__name{font-weight: bold;}
.officeInfo__phones{margin:10px 0;}
.officeInfo__fax{margin:10px 0;}
.officeInfo__mail{
  float: left;
  clear: both;
  &:hover{background: none !important;}}
.l-officeInfo__addInfo{max-width: 240px;}
.l-officeInfo__addInfo{padding-top: 20px;}
.officeInfo__workTime{font-size: 0.846em;font-style: italic;}
.officeInfo__map{text-align: center;font-size: 0.846em;}
.officeInfo__postInfo{display: block;margin:10px 0;}

/*NEWS page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageNews{
  @include contentEditable;
  margin-left: $mainColPadding-l;
}
.pageNews__title{@include h1;}
.pageNews__item{
  margin-bottom: 20px;
  time{color:$servColor;}
}
.pageNews__item__title{@include h2Left;margin-top: 0;}
.pageNews__viewOldNews{@include link-service;}
.pageNews__yearSorter{
  margin:58px 50px;
  .m-active{@include link-only-servColor;}
}

/*VACANCIES page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageVacancies{margin-left: $mainColPadding-l;}
.pageVacancies__title{@include h1;}
.pageVacancies__item{
  label{
    @include h2Left;
    span{
      @include link-service;
      @include single-transition(all,.4s,ease,0s);
    }
  }
  &.m-inKiev label:after{
    content: 'в Киеве';
    font-size: $baseFontSize;
    position: relative;
    top:-12px;
  }
  &.m-inDonetsk label:after{
    content: 'в Донецке';
    font-size: $baseFontSize;
    position: relative;
    top:-12px;
  }
  input{display: none;}
}
.pageVacancies__item__content{
  @include contentEditable;
  overflow: hidden;
  height: 0px;
  input:checked ~ &{height: auto;}
  margin:10px 0;
}
.pageVacancies__lastItem{margin:20px 0;}
.pageVacancies__lastItem__link{@include link-service;}

/*DELIVERY page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageDelivery{
  margin-left:$mainColPadding-l;
  @include contentEditable;
}
.pageDelivery__title{@include h1;}
.pageDelivery__managersInfo{
  width:100%;margin:15px 0;
  position: relative;
}
.pageDelivery__company{
  @include pie-clearfix;
  img{padding-left: 30px;}
  &.item-2{img{padding-right: 40px;}}
  &.item-4{img{padding-right: 40px;padding-top: 5px;}}
}
/*CATEGORY page specific elements styles
------------------------------------------------------------------------------------------------*/
.pageCategories{
  .breadcrumbs{margin-left: $mainColPadding-l;}
}
.pageCategories__title{@include h1;margin-left: $mainColPadding-l;}
.pageCategories__itemWrap{text-align: center;}
.pageCategories__item{
  @include inline-block;
  width: 220px;
  text-align: center;
  span{
    display: block;text-align: center;
  }
}
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*plugins styles
------------------------------------------------------------------------------------------------*/
/*MODIFICATORS
*/
.m-mainColumnPadding{padding-left: $mainColPadding-l}
.m-pt_50{padding-top:50px;}
/*for a wider left column*/
.m-width_230{width:230px;}
//debug
//* { outline: 2px dotted red; }
//* * { outline: 2px dotted green; }
//* * * { outline: 2px dotted orange; }
//* * * * { outline: 2px dotted blue; }
//* * * * * { outline: 1px solid red; }
//* * * * * * { outline: 1px solid green; }
//* * * * * * * { outline: 1px solid orange; }
//* * * * * * * * { outline: 1px solid blue; }